@use "./_mixins.scss" as mixins;

%section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.4;
}

%card {
  border-radius: 12px;
  background: #fff;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  @include mixins.card-shadow;
}
